<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tasty coffee!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="/webjars/jquery/2.0.3/jquery.min.js"></script>
    <link th:href="@{/css/coffee.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div id="coffeemachine">
    <div id="display">
        <div id="message">Push Power to start coffee machine!</div>
    </div>
    <div id="tray"></div>
    <div id="pot"></div>
    <div id="potFilled"></div>
    <div id="power"></div>
    <div id="brew"></div>
    <div id="clean"></div>
</div>

<script>
    $("#power").click(function () {
        if ($(this).css("background-color") === "rgb(0, 128, 0)") {
            $(this).css("background-color", "red");
        } else
            $(this).css("background-color", "green");
    });
</script>


</body>
</html>