<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tasty coffee!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="/webjars/jquery/2.0.3/jquery.min.js"></script>
    <link th:href="@{/css/coffee.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div id="coffeemachine">
    <div class="message">
        <span>Push Power to start coffee machine!</span>
    </div>
    <div class="tray"></div>
    <div class="pot"></div>
    <div class="potFilled"></div>
    <div class="power"></div>
    <div class="brew"></div>
    <div class="clean"></div>
</div>

<script>

    var coffees = 0;
    var serviceInterval = 50;

    $(".power").click(function () {
        var message;
        if ($(this).hasClass("on")) {
            message = "Push Power to start coffee machine!";
        } else {
            message = "Welcome!";
        }
        $(this).toggleClass("on");
        setMessage(message);
    });

    $(".brew").click(function () {
        $(this).fadeOut(100).fadeIn(100).fadeOut(100).fadeIn(100);
        $(".potFilled").show();
        coffees++;
        if (coffees === serviceInterval) {
            requireCleaning();
        }
    });

    $(".clean").click(function () {
        $(this).fadeOut(100).fadeIn(100).fadeOut(100).fadeIn(100);
    });

    $(".tray").click(function () {
        var filledCoffee = $(".potFilled");
        if (filledCoffee.is(':visible')) {
            filledCoffee.hide();
            $(".pot").hide();
        } else {
            $(".pot").toggle();
        }
    });

    var setMessage = function (message) {
        $(".message").find("span").text(message);
    };

    var requireCleaning = function () {
        setMessage("Please clean the Coffee machine!");
    }

</script>

</body>
</html>